{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('build/css/login.css')) }}">
{% endblock %}

{% block title %}
    Réinitialisation du mot de passe
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12 m6 l6 xl4 offset-l3 offset-xl4">
            <div class="card">
                <div class="card-content">
                    <div class="center-align">
                        <img class="responsive-img " src="{{ absolute_url(asset('build/img/logo.png')) }}" alt="logo">
                        <h1>Ecurie Fief Malzais</h1>
                    </div>

                    <div class="center-align">
                        <i class="medium material-icons " style="color: #00C853;">check_circle</i>
                    </div>

                    <p class="center-align">Votre mot de passe a bien été modifié.</p>

                </div>
                <div class="card-action">
                    <div class="right-align"><a href="{{ path('login_page') }}" class="forgot-password">Se connecter</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}