{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .picker__date-display {
            background-color: #00b1bc;
        }

        .picker__today, .picker__close {
            color: #00b1bc;
        }

        .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
            border-radius: 10%;
            background-color: #00b1bc;
        }

        .divider {
            margin-bottom: 25px;
        }

        .progress-add-day-off {
            display: none;
        }

        input[type="text"]:not(.browser-default)[readonly="readonly"] {
            color: inherit;
            border-bottom: 1px solid rgba(0,0,0,0.42)
        }

        /*.courses-calendar .flatpickr-input {*/
             /*display: none;*/
        /*}*/

        .courses-calendar .flatpickr-calendar.inline {
            width: 100%;
            height: 500px;
        }

        .courses-calendar .flatpickr-rContainer, .courses-calendar .flatpickr-days, .courses-calendar .dayContainer {
            width: 100%;
        }

        .courses-calendar .dayContainer {
            min-width: 100%;
            max-width: 100%;
        }
        .courses-calendar .flatpickr-day {
            height: 74px;
            line-height: 74px;
        }

        .courses {
            margin-top: 2px;
            min-height: 500px !important;
        }

    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
{% endblock %}

{% block body %}
    {{ include('common/navAdmin.html.twig') }}

    <div class="row">
        <div class="col xl8 l8 m10 s12 offset-xl2 offset-l2 offset-m1">
            <div class="card">
                <div class="card-content">
                    <h3 class="center-align">Indisponibilités</h3>
                    <div class="divider"></div>

                    <div class="col xl10 l10 m10 s12 offset-xl1 offset-l1 offset-m1" id="flashMessagesDayOff"></div>

                    {{ include('dashboard/admin/ajax/forms/addDayOff.html.twig') }}

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col xl8 l8 m10 s12 offset-xl2 offset-l2 offset-m1">
            <div class="card">
                <div class="card-content">
                    <h3 class="center-align">Planning des cours</h3>
                    <div class="divider"></div>

                    <div class="row">
                        <div class="courses-calendar col xl7 l7 m12 s12">
                            <form action="">
                            <input type="text" class="flatpickr-courses">
                            </form>

                        </div>
                        <div class="card col xl5 l5 m12 s12 courses">
                            <div class="card-content">
                                <p id="selected-date"></p>
                            </div>
                        </div>
                    </div>

                    <div class="divider"></div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        // Chargement du datepicker
        function datepicker() {
            $(".flatpickr").flatpickr({
                locale: 'fr',
                minDate: "today",
                enableTime: true,
                time_24hr: true,
                altInput: true,
                altFormat: "d/m/Y à H:i"
            });
        }

        // function test() {
        //     $('body').on('click', '.flatpickr-day', function(e) {
        //         console.log(e)
        //     });
        // }

        // Soumission du formulaire d'ajout d'un cavalier
        function addDayOff() {
            $('body').on('submit', 'form[name="add_day_off"]', function (e) {
                e.preventDefault();

                $('.progress-add-day-off').show();

                var $form = $(this);

                var url = $('#add_day_off_submit').attr('data-url');

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: $form.serialize(),
                    success: function (data) {
                        var success = '<div class="card-panel green accent-4" id="confirmationDayOff">' + data + '</div>';

                        $('#flashMessagesDayOff').html(success);

                        $('.progress-add-day-off').hide();

                        function removeFlashMsg() {
                            $('#confirmationDayOff').replaceWith('');
                            reloadAddDayOffForm();
                        }

                        setTimeout(removeFlashMsg, 5000);
                    },
                    error: function (jqxhr) {
                        // Construction du html pour le message flash
                        var error = '<div class="card-panel deep-orange accent-4">' + jqxhr.responseText + '</div>';
                        // ajoute le message flash dans la div dédiée
                        $('#flashMessagesDayOff').html(error);

                        // Retrait de la barre de chargement
                        $('.progress-add-day-off').hide();
                    }
                })
            });

            function reloadAddDayOffForm() {
                var url = $('#reload-add-day-off').attr('data-url');
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        $('#reload-add-day-off').replaceWith(data);
                        datepicker();
                    }
                })
            }
        }

        $(document).ready(function(){
            addDayOff();
            datepicker();
            $(".flatpickr-courses").flatpickr({
                locale: 'fr',
                minDate: "today",
                inline: true
            });
        });
    </script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
{% endblock %}

