<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Une nouvelle facture est disponible</title>
</head>
    <body>
        <p>Bonjour, Une nouvelle facture est disponible sur votre <a href="#">espace adhérent.</a></p>
        <p>Cette facture est d'un montant de {{ bill.amount }} €</p>
        <p>Vous trouverez cette facture en pièce jointe. Vous pouvez faire le réglement par chèque ou par virement bancaire.</p>
    </body>
</html>