{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/table.css') }}">
    <style>
        .divider-form {
            margin-bottom: 50px;
        }

        .progress-user-password {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}

    {{ include('common/navUser.html.twig') }}

    <div class="row">
        <div class="col xl8 l8 m10 s12 offset-xl2 offset-l2 offset-m1">
            <div class="card">
                <div class="card-content">
                    <div class="row">

                        <h3 class="center-align">Votre mot de passe</h3>
                        <div class="divider divider-form"></div>
                        <div class="col xl10 l10 m10 s12 offset-xl1 offset-l1 offset-m1" id="flashMessagesPasswordUser"></div>

                        {{ include('common/forms/changePassword.html.twig') }}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        // Soumission du formulaire de modification des informations de l'utilisateur
        function changePassword() {
            $('body').on('submit', 'form[name="change_password"]', function (e) {
                e.preventDefault();
                $('.progress-user-password').show();
                var url = $('#change_password_submit').attr('data-url');
                var $form = $(this);
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: $form.serialize(),
                    success: function (data) {
                        var success = '<div class="card-panel green accent-4" id="confirmationChangePassword">' + data + '</div>';

                        $('#flashMessagesPasswordUser').html(success);

                        $('.progress-user-password').hide();

                        reloadchangePasswordForm();
                        function removeFlashMsg() {
                            $('#confirmationChangePassword').replaceWith('');
                        }
                        setTimeout(removeFlashMsg, 5000);

                    },
                    error: function (jqxhr) {
                        var error = '<div class="card-panel deep-orange accent-4">' + jqxhr.responseText + '</div>';
                        $('#flashMessagesPasswordUser').html(error);
                        $('.progress-user-password').hide();
                    }
                })
            });
        }

        // Rechargement du formulaire d'ajout d'un nouveau contact
        function reloadchangePasswordForm() {
            var url = $('#changePasswordForm').attr('data-url');
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#changePasswordForm').replaceWith(data);
                }
            })
        }

        $(document).ready(function(){
            changePassword();
        });
    </script>
{% endblock %}
