<div class="modal-content" >
    <h4 class="center-align">Ajout d'une carte de cours</h4>

    <div class="col xl10 l10 m10 s12 offset-xl1 offset-l1 offset-m1" id="flashMessagesAddCourseCard"></div>

    {{ include('dashboard/admin/ajax/forms/addCourseCard.html.twig') }}

</div>