<div class="modal-content" id="modalContent">
    <div class="row">
        <h4 class="center-align">Proposition de cours</h4>

        <div class="col xl10 l10 m10 s12 offset-xl1 offset-l1 offset-m1" id="flashMessagesAddCourse"></div>

        {{ include('dashboard/user/ajax/forms/addCourse.html.twig') }}
    </div>
</div>