{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {{ include('common/navUser.html.twig') }}

    <div class="row">
        <div class="col xl8 l8 m10 s12 offset-xl2 offset-l2 offset-m1">
            <div class="card">
                <div class="card-content">
                    <h3 class="center-align">Cours</h3>
                    <p>Cette fonctionnalité n'est pas encore disponible, veuillez ressayez plus tard.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}
